src/main/resources/schema/dataset_type.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Changes in v0.0.3

 - In preparation for the tools, the "schema" element is no longer mandatory
 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ins="http://datacite.org/schema/kernel-4" elementFormDefault="qualified">
<!--    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="https://www.w3.org/2009/01/xml.xsd"/>-->
    <xs:import namespace="http://datacite.org/schema/kernel-4" schemaLocation="imports.xsd"/>
    <xs:element name="dataset_type">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="identifier">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="identifierType" use="required" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titles">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>A name or title by which a resource is known.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="titleType" type="ins:titleType" use="optional"/>
                                                        <xs:attribute ref="xml:lang"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="publisher" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource. This property will be used to formulate the citation, so consider the prominence of the role.</xs:documentation>
                                    <xs:documentation>In the case of datasets, "publish" is understood to mean making the data available to the community of researchers.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <!-- OPTIONAL FIELDS -->
                            <xs:element name="subjects" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subject" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Subject, keywords, classification codes, or key phrases describing the resource.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="languages">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="language" type="xs:language" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Primary language of the resource. Allowed values are taken from IETF BCP 47, ISO 639-1 language codes.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="type" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The type of a resource. You may enter an additional free text description.</xs:documentation>
                                    <xs:documentation>The format is open, but the preferred format is a single term of some detail so that a pair can be formed with the sub-property.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="class" type="ins:resourceType" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="alternateIdentifiers" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alternateIdentifier" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>An identifier or identifiers other than the primary Identifier applied to the resource being registered. This may be any alphanumeric string which is unique within its domain of issue. May be used for local identifiers. AlternateIdentifier should be used for another identifier of the same instance (same location, same file).</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="alternateIdentifierType" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="relatedIdentifiers" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="relatedIdentifier" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Identifiers of related resources. Use this property to indicate subsets of properties, as appropriate.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="relatedIdentifierType" type="ins:relatedIdentifierType" use="required"/>
                                                        <xs:attribute name="relationType" type="ins:relationType" use="required"/>
                                                        <xs:attribute name="relatedMetadataScheme" use="optional"/>
                                                        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
                                                        <xs:attribute name="schemeType" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="formats" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="format" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Technical format of the resource.</xs:documentation>
                                                <xs:documentation>Use file extension or MIME type where possible.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="rightsList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rights" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Any rights information for this resource. Provide a rights management statement for the resource or reference a service providing such information. Include embargo information if applicable. Use the complete title of a license and include version information if applicable.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="rightsURI" type="xs:anyURI" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="descriptions" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="description" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>All additional information that does not fit in any of the other categories. May be used for technical information. It is a best practice to supply a description.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="descriptionType" type="ins:descriptionType" use="required"/>
                                                        <xs:attribute ref="xml:lang"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="geoLocations" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="geoLocation" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Spatial region or named place where the data was gathered or about which the data is focused.</xs:documentation>
                                                <xs:documentation>A point contains a single latitude-longitude pair, separated by whitespace.</xs:documentation>
                                                <xs:documentation>A box contains two white space separated latitude-longitude pairs, with each pair separated by whitespace. The first pair is the lower corner, the second is the upper corner.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="geoLocationPoint" type="ins:point" minOccurs="0"/>
                                                    <xs:element name="geoLocationBox" type="ins:box" minOccurs="0"/>
                                                    <xs:element name="geoLocationPlace" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!--  The following elements are added by IntelComp -->
                            <xs:element name="typology" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Science &amp; Innovation" />
                                        <xs:enumeration value="Company websites and financials" />
                                        <xs:enumeration value="Public and private investment" />
                                        <xs:enumeration value="Legal and policy documents" />
                                        <xs:enumeration value="Public Procurement" />
                                        <xs:enumeration value="Social Media" />
                                        <xs:enumeration value="Skills demand and supply" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="domain" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Blue Economy" />
                                        <xs:enumeration value="Cancer" />
                                        <xs:enumeration value="Artificial Intelligence" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="source" type="xs:string"/>
                            <xs:element name="tags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tag" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="contact">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="email" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="position" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="organization" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="webpage" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="logo" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="provenance" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="schema" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="type">
                                <xs:simpleType>
                                    <xs:restriction base="ins:schemaType"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="entities">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entity" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string"/>
                                                    <xs:element name="description" type="xs:string"/>
                                                    <xs:element name="filters" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="filter" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="field" type="xs:string"/>
                                                                            <xs:element name="type" type="xs:string"/>
                                                                            <xs:element name="repeated" type="xs:boolean" minOccurs="0" />                             <!--   0.0.2 -->
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="sample" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
