src/main/resources/schema/imports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision history
  2010-08-26 Complete revision according to new common specification by the metadata work group after review. AJH, DTIC
  2010-11-17 Revised to current state of kernel review, FZ, TIB
  2011-01-17 Complete revsion after community review. FZ, TIB
  2011-03-17 Release of v2.1: added a namespace; mandatory properties got minLength; changes in the definitions of relationTypes IsDocumentedBy/Documents and isCompiledBy/Compiles; changes type of property "Date" from xs:date to xs:string. FZ, TIB
  2011-06-27 v2.2: namespace: kernel-2.2, additions to controlled lists "resourceType", "contributorType", "relatedIdentifierType", and "descriptionType". Removal of intermediate include-files.
  2013-07-24 v3.0: namespace: kernel-3.0; delete LastMetadataUpdate & MetadateVersionNumber; additions to controlled lists "contributorType", "dateType", "descriptionType", "relationType", "relatedIdentifierType" & "resourceType"; deletion of "StartDate" & "EndDate" from list "dateType" and "Film" from "resourceType";  allow arbitrary order of elements; allow optional wrapper elements to be empty; include xml:lang attribute for title, subject & description; include attribute schemeURI for nameIdentifier of creator, contributor & subject; added new attributes "relatedMetadataScheme", "schemeURI" & "schemeType" to relatedIdentifier; included new property "geoLocation"
  2014-08-20 v3.1: additions to controlled lists "relationType", contributorType" and "relatedIdentifierType"; introduction of new child element "affiliation" to "creator" and "contributor"
  2016-09-19 v4.0: namespace: kernel-4.0; makes "resourceType" required field, added optional "givenName" and "familyName" to creator and contributor, added "funderReference", added "valueURI" for subject, added "geoLocationPolygon"
  2017-10-23 v4.1: Addition of dateType value "Other", relationType values "Describes", "IsDescribedBy", "HasVersion", "IsVersionOf", "Requires", "IsRequiredBy", resourceType value "DataPaper", new subproperties "dateInformation", "inPolygonPoint", new attribute "nameType", optional attribute "resourceTypeGeneral" for relatedIdentifier
  2018-09-08 v4.1.1 Make schema 4.1 backwards compatible to 4.0 by allowing geolocation elements in any order
  2019-02-14 v4.2: Addition of dateType value "Withdrawn", relationType values "Obsoletes", "isObsoletedBy", addition of new subproperties for Rights: rightsIdentifier, rightsIdentifierScheme, schemeURI, addition of the XML language attribute to the properties Creator, Contributor and Publisher for organizational names, don't check format of DOI
  2019-07-13 v4.3: Addition of new subproperties for Affiliation: "affiliationIdentifier", "affiliationIdentifierScheme", "schemeURI", addition of new sub-property for funderIdentifier: "schemeURI", addition of new funderIdentifierScheme: "ROR", added documentation for nameIdentifier
  2021-03-08 v4.4: Addition of new property relatedItem, relationType value "isPublishedIn", subject subproperty "classificationCode", controlled list "numberType", additional 13 properties for controlled list "resourceType"
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datacite.org/schema/kernel-4" targetNamespace="http://datacite.org/schema/kernel-4" elementFormDefault="qualified" xml:lang="EN">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="https://schema.datacite.org/meta/kernel-4.4/include/xml.xsd"/>
    <xs:include schemaLocation="https://schema.datacite.org/meta/kernel-4.4/include/datacite-nameType-v4.xsd"/>
    <xs:include schemaLocation="https://schema.datacite.org/meta/kernel-4.4/include/datacite-funderIdentifierType-v4.xsd"/>
    <xs:include schemaLocation="https://schema.datacite.org/meta/kernel-4.4/include/datacite-numberType-v4.xsd"/>

    <!-- definitions for geoLocation -->
    <!-- TODO: remove geoLocation -->
    <xs:complexType name="point">
        <xs:all>
            <xs:element name="pointLongitude" type="longitudeType" minOccurs="1" />
            <xs:element name="pointLatitude" type="latitudeType" minOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="box">
        <xs:all>
            <xs:element name="westBoundLongitude" type="longitudeType" minOccurs="1" />
            <xs:element name="eastBoundLongitude" type="longitudeType" minOccurs="1" />
            <xs:element name="southBoundLatitude" type="latitudeType" minOccurs="1" />
            <xs:element name="northBoundLatitude" type="latitudeType" minOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="longitudeType">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="-180" />
            <xs:maxInclusive value="180" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="latitudeType">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="-90" />
            <xs:maxInclusive value="90" />
        </xs:restriction>
    </xs:simpleType>

    <!-- TYPE DECLARATIONS -->
    <!-- defines value for mandatory fields -->
    <xs:simpleType name="nonemptycontentStringType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <!-- definition for nameIdentifier -->
    <xs:complexType name="nameIdentifier">
        <xs:annotation>
            <xs:documentation>Uniquely identifies a creator or contributor, according to various identifier schemes.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="nonemptycontentStringType">
                <xs:attribute name="nameIdentifierScheme" type="xs:string" use="required" />
                <xs:attribute name="schemeURI" type="xs:anyURI" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <!-- definition for EDTF dates, modified from PREMIS 2.0 -->
    <xs:simpleType name="edtf">
        <xs:restriction base="xs:string">
            <!-- pattern for iso8601 dateTime -->
            <xs:pattern value="(-)?[0-9]{4}(-[0-9]{2})?(-[0-9]{2})?(T([0-9]{2}:){2}[0-9]{2}Z)?" />

            <!--
            The following pattern is for year (yyyy) or year-month (yyyy-mm)
            The last or last two digits of year may be '?'  meaning "one year in that range but not sure which year", for example 19?? means some year from 1990 to 1999.  Similarly month may be '??' so that 2004-?? "means some month in 2004".  And the entire string may end with '?' or '~' for "uncertain" or "approximate".
            Hyphen must separate year and month.
            -->
            <xs:pattern value="\d{2}(\d{2}|\?\?|\d(\d|\?))(-(\d{2}|\?\?))?~?\??" />
            <!--
            The following pattern is for  yearMonthDay - yyyymmdd,  where 'dd' may be '??'  so '200412??' means "some day during the month of 12/2004".
            The whole  string may be followed by '?' or '~'  to mean "questionable" or "approximate".     Hypens are  not allowed for this pattern.
            -->
            <xs:pattern value="\d{6}(\d{2}|\?\?)~?\??" />
            <!--

            The following pattern is for date and time with T separator:'yyyymmddThhmmss'.
            Hypens in date and colons in time not allowed for this pattern.
            -->
            <xs:pattern value="\d{8}T\d{6}" />
            <!--

            The following pattern is for a date range. in years: 'yyyy/yyyy'; or year/month: yyyy-mm/yyyy-mm, or year/month/day: yyyy-mm-dd/yyyy-mm-dd. Beginning or end of range value may be 'unknown'. End of range value may be 'open'.
            Hypens mandatory when month is present.
            -->
            <xs:pattern value="((-)?(\d{4}(-\d{2})?(-\d{2})?)|unknown)/((-)?(\d{4}(-\d{2})?(-\d{2})?)|unknown|open)" />
        </xs:restriction>
    </xs:simpleType>
    <!-- definition for affiliation -->
    <xs:complexType name="affiliation">
        <xs:annotation>
            <xs:documentation>Uniquely identifies an affiliation, according to various identifier schemes.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="nonemptycontentStringType">
                <xs:attribute name="affiliationIdentifier" type="xs:string" use="optional" />
                <xs:attribute name="affiliationIdentifierScheme" type="xs:string" use="optional" />
                <xs:attribute name="schemeURI" type="xs:anyURI" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <!-- defines the value for a year -->
    <xs:simpleType name="yearType">
        <xs:restriction base="xs:token">
            <xs:pattern value="[\d]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="titleType" id="titleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AlternativeTitle"/>
            <xs:enumeration value="Subtitle"/>
            <xs:enumeration value="TranslatedTitle"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="resourceType" id="resourceType">
        <xs:annotation>
            <xs:documentation>The general type of a resource.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Software"/>
            <xs:enumeration value="Workflow"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType id="descriptionType" name="descriptionType">
        <xs:annotation>
            <xs:documentation>The type of the description.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Abstract"/>
            <xs:enumeration value="Methods"/>
            <xs:enumeration value="SeriesInformation"/>
            <xs:enumeration value="TableOfContents"/>
            <xs:enumeration value="TechnicalInfo"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType id="schemaType" name="schemaType">
        <xs:annotation>
            <xs:documentation>The type of the entity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="file"/>
            <xs:enumeration value="database"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
    <xs:simpleType id="relatedIdentifierType" name="relatedIdentifierType">
        <xs:annotation>
            <xs:documentation>The type of the RelatedIdentifier.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARK"/>
            <xs:enumeration value="arXiv"/>
            <xs:enumeration value="bibcode"/>
            <xs:enumeration value="DOI"/>
            <xs:enumeration value="EAN13"/>
            <xs:enumeration value="EISSN"/>
            <xs:enumeration value="Handle"/>
            <xs:enumeration value="ISBN"/>
            <xs:enumeration value="ISSN"/>
            <xs:enumeration value="ISTC"/>
            <xs:enumeration value="LISSN"/>
            <xs:enumeration value="LSID"/>
            <xs:enumeration value="PMID"/>
            <xs:enumeration value="PURL"/>
            <xs:enumeration value="UPC"/>
            <xs:enumeration value="URL"/>
            <xs:enumeration value="URN"/>
            <xs:enumeration value="internal"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
    <xs:simpleType id="relationType" name="relationType">
        <xs:annotation>
            <xs:documentation>Description of the relationship of the resource being registered (A) and the related resource (B).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IsCitedBy"/>
            <xs:enumeration value="Cites"/>
            <xs:enumeration value="IsSupplementTo"/>
            <xs:enumeration value="IsSupplementedBy"/>
            <xs:enumeration value="IsContinuedBy"/>
            <xs:enumeration value="Continues"/>
            <xs:enumeration value="IsNewVersionOf"/>
            <xs:enumeration value="IsPreviousVersionOf"/>
            <xs:enumeration value="IsPartOf"/>
            <xs:enumeration value="HasPart"/>
            <xs:enumeration value="IsPublishedIn"/>
            <xs:enumeration value="IsReferencedBy"/>
            <xs:enumeration value="References"/>
            <xs:enumeration value="IsDocumentedBy"/>
            <xs:enumeration value="Documents"/>
            <xs:enumeration value="IsCompiledBy"/>
            <xs:enumeration value="Compiles"/>
            <xs:enumeration value="IsVariantFormOf"/>
            <xs:enumeration value="IsOriginalFormOf"/>
            <xs:enumeration value="IsIdenticalTo"/>
            <xs:enumeration value="HasMetadata"/>
            <xs:enumeration value="IsMetadataFor"/>
            <xs:enumeration value="Reviews"/>
            <xs:enumeration value="IsReviewedBy"/>
            <xs:enumeration value="IsDerivedFrom"/>
            <xs:enumeration value="IsSourceOf"/>
            <xs:enumeration value="Describes"/>
            <xs:enumeration value="IsDescribedBy"/>
            <xs:enumeration value="HasVersion"/>
            <xs:enumeration value="IsVersionOf"/>
            <xs:enumeration value="Requires"/>
            <xs:enumeration value="IsRequiredBy"/>
            <xs:enumeration value="Obsoletes"/>
            <xs:enumeration value="IsObsoletedBy"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType id="dateType" name="dateType">
        <xs:annotation>
            <xs:documentation>The type of date. Use RKMS‐ISO8601 standard for depicting date ranges.To indicate the end of an embargo period, use Available. To indicate the start of an embargo period, use Submitted or Accepted, as appropriate.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Accepted" />
            <xs:enumeration value="Available" />
            <xs:enumeration value="Collected" />
            <xs:enumeration value="Copyrighted" />
            <xs:enumeration value="Created" />
            <xs:enumeration value="Issued" />
            <xs:enumeration value="Submitted" />
            <xs:enumeration value="Updated" />
            <xs:enumeration value="Valid" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType id="contributorType" name="contributorType">
        <xs:annotation>
            <xs:documentation>The type of contributor of the resource.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ContactPerson" />
            <xs:enumeration value="DataCollector" />
            <xs:enumeration value="DataCurator" />
            <xs:enumeration value="DataManager" />
            <xs:enumeration value="Distributor" />
            <xs:enumeration value="Editor" />
            <xs:enumeration value="Funder" />
            <xs:enumeration value="HostingInstitution" />
            <xs:enumeration value="Other" />
            <xs:enumeration value="Producer" />
            <xs:enumeration value="ProjectLeader" />
            <xs:enumeration value="ProjectManager" />
            <xs:enumeration value="ProjectMember" />
            <xs:enumeration value="RegistrationAgency" />
            <xs:enumeration value="RegistrationAuthority" />
            <xs:enumeration value="RelatedPerson" />
            <xs:enumeration value="ResearchGroup" />
            <xs:enumeration value="RightsHolder" />
            <xs:enumeration value="Researcher" />
            <xs:enumeration value="Sponsor" />
            <xs:enumeration value="Supervisor" />
            <xs:enumeration value="WorkPackageLeader" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="listOfDoubles">
        <xs:list itemType="xs:double"/>
    </xs:simpleType>
</xs:schema>
